<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="logPath">/log</Property>
        <Property name="logSize">15MB</Property>
        <Property name="rollingFileName">RollingFile</Property>
        <Property name="consoleAppenderName">ConsoleAppender</Property>
        <Property name="serviceName">core</Property>
        <Property name="packageName">com.bancodellitoral.core</Property>
        <Property name="LOG_PATTERN">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%c:%L][%M] [${serviceName}]%notEmpty{[external-trace-id=%X{external-trace-id}]}%notEmpty{[internal-trace-id=%X{internal-trace-id}]}%notEmpty{[%X{externalTransactionId=externalTransactionId}]}%notEmpty{[ipClient=%X{ipClient}]->}%notEmpty{ipServer=[%X{ipServer}]}%notEmpty{transactionTime=[%X{transactionTime}]} - %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="${consoleAppenderName}" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <!-- Rolling File Appender -->
        <RollingFile name="${rollingFileName}"
                     fileName="${logPath}/${serviceName}.log"
                     filePattern="${logPath}/${serviceName}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${logSize}" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="${consoleAppenderName}" />
            <AppenderRef ref="${rollingFileName}" />
        </Root>
        <AsyncLogger name="${packageName}" level="error"  includeLocation="true">
            <AppenderRef ref="${rollingFileName}" />
        </AsyncLogger>
        <AsyncLogger name="${packageName}" level="info"  includeLocation="true">
            <AppenderRef ref="${rollingFileName}" />
        </AsyncLogger>
        <AsyncLogger name="${packageName}" level="debug" includeLocation="false">
            <AppenderRef ref="${rollingFileName}" />
        </AsyncLogger>
    </Loggers>
</Configuration>